<?xml version="1.0"?>
<SyntaxDefinition name="INI" extensions=".ini" xmlns="http://icsharpcode.net/sharpdevelop/syntaxdefinition/2008">
	<Color foreground="#FF41BB41" name="Comment" exampleText=";Comment bla bla" />
	<Color foreground="CornflowerBlue" name="Section" exampleText="[Section]" />
	<Color foreground="#FFC9C9C9" name="Value" exampleText="= Value" />
	
	<RuleSet>
		<Span color="Comment" multiline="false">
			<Begin>;</Begin>
		</Span>
		<Span color="Section" multiline="false">
			<Begin>\[</Begin>
			<End>\]</End>
		</Span>
		<Span color="Value" multiline="false">
			<Begin>=</Begin>
		</Span>
	</RuleSet>
</SyntaxDefinition>